
    <div class="container">
        <!-- Date Picker -->
        <div class="mb-3 d-flex justify-content-between align-items-center">
            <input type="date" id="datePicker" class="form-control w-auto">
            <h4 id="dateHeader" class="mb-0"></h4>
        </div>

        <!-- Time Slots -->
        <div class="card">
        <div id="timeSlots" class="row g-3 m-3"></div>
    </div>
    </div>
@section Scripts {
	<script src="~/js/day-view.js"></script>
    }