html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}



.navbar {
    background-color: white !important;
/*    border-radius: 12px;*/
    padding: 1rem;
}

.btn-primary
 {
    background-color: #D3378A !important;
    border-color: #D3378A !important;
    color: white !important;
}

/*    .btn:hover {
        background-color: #b82870 !important;
        border-color: #b82870 !important;
    }*/
.btn-outline-primary {
    color: #D3378A;
    border: 1px solid #D3378A;
    background-color: white;
}

    .btn-outline-primary:hover,
    .btn-outline-primary:focus {
        background-color: #D3378A;
        color: white;
        border-color: #D3378A;
    }

.card {
    background-color: #F5F5F8;
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.card-header {
    background-color: #d63384 !important;
    color: white;
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}

tr.fading-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}


.badge.bg-Scheduled {
    background-color: #cce5ff !important;
    color: #0a58ca !important;
}

.badge.bg-Arrived {
    background-color: #d1e7dd !important;
    color: #146c43 !important;
}

.badge.bg-Completed {
    background-color: #e2e3e5 !important;
    color: #565e64 !important;
}

.badge.bg-Canceled {
    background-color: #f8d7da !important;
    color: #b02a37 !important;
}
